.btn-primary {
    padding: 1.6rem 2.4rem;
    background-color: var(--blue-10);
    color: var(--gray-900);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.48px;
    transition: backgroung-color .3s ease;
}

.btn-primary:hover {
    background-color: var(--blue-20);
    color: #FFFFFF;
}


.btn-primary.lg {
    padding: 2.3rem 2.4rem;
    font-size: 1.8rem;
}




